@import '/src/variables.scss';

.home {
    background: linear-gradient(140deg, #EFEFEF 14.99%, #FFF 50%, #EFEFEF 89.32%);
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.home-content {
    display: flex;
    flex-direction: column;
    width: 1050px;
    z-index: 1;
    padding-top: 150px;
    gap: 100px;
    padding-bottom: 50px;
}

.Info-Cards-Row {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    position: relative;
}

.home-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 696px;
}
  
.home-col .headline-sec {
    color: $text-color;
    @include h1;
    margin-top: -1px;
    position: relative;
    width: 542px;
}
  
.home-col .sub-headline-sec {
    color: $second-text-color;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 32px;
    position: relative;
    width: 696px;
}
  
.home-col .text-wrapper {
    font-weight: 700;
}
  
.home-col .span {
    font-family: "Montserrat-Regular", Helvetica;
}
  
.home-col .text-wrapper-2 {
    @include h3;
}
  

  