@import '/src/variables.scss';

.stats-frame {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(195deg, #EFEFEF 14.99%, #FFF 57.64%);
    align-items: center
}

.stats-frame .stats-column {
    width: 1050px;
}
  
.stats-frame .row {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    flex: 0 0 auto;
    position: relative;
}
  
.stats-frame .vector {
    height: 39px;
    position: relative;
    width: 127px;
}

.stats-frame .vector-last {
    height: 39px;
    position: relative;
    width: 127px;
    padding-left: 88%;
}